{% extends "base.html" %} 

{% block title %}blog | {{post.title}}{% endblock %} 

{% block header %}
    <script type="text/javascript" src="http://fabiosouto.eu/media/js/jquery.mb.flipText.min.js"></script>
	<script type="text/javascript">
	$(function(){
		$(".tb").mbFlipText(true); // top to bottom
		$(".bt").mbFlipText(false); // bottom to top
	});
	</script>
{% endblock %}

{% block section %}/ blog / {{post.title|truncatewords:3}}{% endblock %} 



{% block content %}
	{% load blog %}
	<div class="blog_entry">
		{% get_post_categories post.pk as categories_list %}
		<a href="/blog/{{post.slug}}/" class="blogtitle">{{ post.title }}</a>
		<p class="blogdescription">Posted {{post.pub_date|date:"j F Y"}} 
			on {% for cat in categories_list %}{% if not forloop.first %}, {% endif %}<a href="/blog/category/{{cat.slug}}/" title="{{cat.description}}">{{cat.title}}</a>{% endfor %}
			</p>
    		{{ post.body|render|safe }}
	</div>
{% endblock %}

{% block footer %}
<div id="comments">
	<div class="container_16">
		<div class="grid_1">
			<p id="comments_title" class="bt">Comments</p>
		</div>
		<div class="grid_14">
            <div id="disqus_thread"></div>
            {%  if post.enable_comments %}
            <script type="text/javascript">
              
              var disqus_identifier = {{ post.pk }};
                
              (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{DISQUS_SHORTNAME}}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{DISQUS_SHORTNAME}}">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            {% else %}
                <h2>No comments allowed for this entry</h2>
            {% endif %}

		</div>
		<div class="grid_1">&nbsp;</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>
<div id="badges">
	<div class="container_12">
		<div class="grid_9">
			<p></p>
		</div>
		<div class="grid_3">
				<a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>&nbsp;
				<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>

			
		</div>
	</div>
</div>
{% endblock %}