{% extends "base.html" %} 

{% block title %}about me{% endblock %} 

{% block section %}/  about me{% endblock %} 



{% block content %}

		
			<a href="/blog" class="secciones">bio</a><p><span class="descripcion_about">I'm a computer science student, also I'm working as freelance. I'm going to spend this year at CERN working on my thesis project. </span></p>
			<a href="/blog" class="secciones">studies</a><p><span class="descripcion_about">Technical in software development, I'm about to be an computer science engineer </span></p>
			<a href="/blog" class="secciones">skills</a><p><span class="descripcion_about">I'm proficient at web development and natural language processing. I speak spanish and galician(native), english and portuguese  </span></p>
			<a href="/blog" class="secciones">resume</a><p><span class="descripcion_about">If you want to see my complete CV please, <a href="/contact/" class="description_about">drop me a line</a> and I'll answer you as soon as I can </span></p>


{% endblock %}