{% extends "base.html" %} 

{% block title %}digital life{% endblock %} 

{% block section %}/  digital life{% endblock %} 



{% block content %}
<a href="https://launchpad.net/~fsouto" class="secciones">Launchpad profile</a><br>
<a href="http://github.com/fsouto" class="secciones">Github profile</a><br/>
<a href="https://openlab-mu-internal.web.cern.ch/openlab-mu-internal/05_Management/People_in_openlab/people_in_openlab/Individual_folders/Individual_folders_opl_students/2010/F_Souto-Moure/F_Souto-Moure_bio.htm" class="secciones">CERN openlab</a><br/>
<a href="http://www.ted.com/profiles/view/id/390710" class="secciones">TED translator profile</a><br/>
<a href="http://es.linkedin.com/in/fabiosouto" class="secciones">Linkedin profile</a><br/>
<iframe src="http://www.worldcommunitygrid.org/getDynamicImage.do?teamId=CB5XNJBR9N1&amp;mnOn=true&amp;stat=3&amp;imageNum=1&amp;rankOn=true&amp;projectsOn=false&amp;special=true" frameborder="0" name="di" scrolling="no" width="405px" height="145px"></iframe>


{% endblock %}