{% extends "base.html" %} 

{% block title %}digital life{% endblock %} 

{% block section %}/  digital life{% endblock %} 



{% block content %}
<a href="https://launchpad.net/~fsouto" class="secciones">Launchpad profile</a><br/>
<a href="http://www.ted.com/profiles/view/id/390710" class="secciones">TED translator profile</a><br/>
<a href="http://inspirationalpeople.tumblr.com" class="secciones">Tumblr</a><br/>
<a href="http://es.wikipedia.org/wiki/Usuario:AtilaElHuno" class="secciones">Wikipedia:es</a><br/>
<a href="http://github.com/fsouto" class="secciones">My profile @ github</a><br/>
<a href="http://www.djangosnippets.org" class="secciones">djangosnippets.org</a><br/>
<iframe src="http://www.worldcommunitygrid.org/getDynamicImage.do?teamId=CB5XNJBR9N1&amp;mnOn=true&amp;stat=3&amp;imageNum=1&amp;rankOn=true&amp;projectsOn=false&amp;special=true" frameborder="0" name="di" scrolling="no" width="405px" height="145px"></iframe>


{% endblock %}