{% extends "base.html" %} 

{% block title %}projects{% endblock %} 

{% block section %}/  projects{% endblock %} 



{% block content %}

	<ul>
		<li><a href="http://fsmoure.webfactional.com" class="secciones">deaffriendly</a><span class="descripcion">My current project, a social network focused on deaf people.</span></li>
		<li><a href="http://demo.vhost.pandorabots.com/pandora/talk?botid=8754838ede365668" class="secciones">escarapote</a><span class="descripcion">A chatterbot(only Spanish) using the pandora engine &amp; AIML</span></li>
		<li><a href="/project/pemento_escorregadizo/" class="secciones">o pemento escorregadizo</a><span class="descripcion">An inmersion in the stop motion films</span></li>
		<li><a href="https://forja.rediris.es/projects/cusl3-3signos/" class="secciones">3signos</a><span class="descripcion">My Degree project, an sign language online dictionary</span></li>
		<li><a href="http://fabiosouto.eu/flickrCCsearch/" class="secciones">flickrCCfind</a><span class="descripcion">A mashup written in php who allows to search the Flickr photos filtering by license. This software uses the phpFlickr library so it's licensed under the terms of the GPL license</span></li>
	</ul>

{% endblock %}	