{% extends "base.html" %} 

{% block title %}o pemento escorregadizo{% endblock %} 

{% block section %}/  o pemento escorregadizo{% endblock %} 



{% block content %}
	<p>
		<span class="descripcion">My first(and last) stop motion movie, an project for the university. It takes around 1400+ photographies and some days of work.</span>
	</p>
	<p>
		
		<object type="application/x-shockwave-flash" style="width:640px; height:505px;" data="http://www.youtube.com/v/pWQhNIp8anM"><param name="movie" value="http://www.youtube.com/v/pWQhNIp8anM" /></object> 

	</p>

{% endblock %}